@charset "UTF-8";
*, ::before, ::after{
    box-sizing: border-box;
}

body{
    position: relative;
    margin: 0;
    overflow: auto;
    display: flex;
    height: 100vh;
    flex-direction: column;
    line-height: 1.5;
    font-family: tahoma;
    color: #f4f4f4;
    font-size: 59.8;
    background-color: #1d1e22;
}

.smooth{
    position: relative;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}
.header{
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    min-height: 59px;
    font-size: 1rem;
    background: #ffffff48;
    
}
.header ul{
    margin: 15px;
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
}
.header ul li a{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 590;
    color: #c26769;
    margin-left: 50px;
}

.header ul li a::after{
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 0;
    height: 3px;
    transition: all 0.2s linear;
}
.header ul li a:hover::after{
    width: 100%;
    background-color: #c26769;
}

section{
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background-color: #442d0a;
    background-image: url('../img/bg.png');
    background-size: cover;
    scroll-snap-align: center;

}
.centro {
    position: absolute;
}
.infEsq{
    position: absolute;
    left: 0px;
    bottom: -3px;
}
.supEsq{
    position: absolute;
    left: 0px;
    top: 0px;
}
.infDir{
    position: absolute;
    right: 0px;
    bottom: -3px;
}
.supDir{
    position: absolute;
    right: 0px;
    top: 0px;
}
#esq2 {
    left: 15px;
    top: 15px;
}
#frase2 {
    top: 35%;
}
#data {
    left: 52%;
}
#endereco {
    right: 52%;
}
#dir3 {
    right: 15px;
    bottom: 15px;
}
#frase4{
    top: 220px;
}
#dir4{
    right: 15px;
    top: 70px;
}
table{

    border-collapse: separate;
    

}
tr {
    width: 50px;
    
}
td {
    box-shadow: black;
    width: 50%;
    border: solid 1px #000;
    
}
td:hover{
    background:rgb(71, 71, 71);
    box-shadow:inset -15px 5 5 darken(rgb(70, 70, 70),50);
}
.itens:hover::after{
    width: 100%;
    background-color: #c26769;
}
h1
 {
    padding: 10px;
    padding-bottom: 0px;
    font-family: 'Piazzolla', serif;
    font-size: 12px;
    color: black;
    text-align: left;
}

h2 {
    padding-right: 15px;
    position: relative;
    color: black;
    font-family: 'Piazzolla', serif;
    font-size: 12px;
    text-align: right;
}
.itens::after{
    content: "Comprar";
}
#frases {
    width: 600px;  
    position: absolute;
    top: 10%;
}

section:nth-child(2){
    background-image: url('../img/bg.png');
}
section:nth-child(3){
    background-image: url('../img/bg2.png');
}
section:nth-child(4){
    background-image: url('../img/bg3.png');
}
section:nth-child(5){
   height: 500%; 
    background-image: url('../img/bg4.png');
    background-position: center;
    background-size: cover;
}
